@font-face {
    font-family: 'BiennaleHeavyit';
    src: url(../fonts/Biennale-Heavyit.otf);
    font-display: swap;
}
@font-face {
    font-family: 'BiennaleBook';
    src: url(../fonts/Biennale-Book.otf);
    font-display: swap;
}
@font-face {
    font-family: 'BiennaleLight';
    src: url(../fonts/Biennale-Light.otf);
    font-display: swap;
}
@font-face {
    font-family: 'BiennaleBold';
    src: url(../fonts/Biennale-Bold.otf);
    font-display: swap;
}
@font-face {
    font-family: 'BiennaleBlack';
    src: url(../fonts/Biennale-Black.otf);
    font-display: swap;
}
@font-face {
    font-family: 'BiennaleRegular';
    src: url(../fonts/Biennale-Regular.otf);
    font-display: swap;
}

$blanco: #ffffff;
$negro: #000000;
$azul: #3333CC;
$celeste: #30CEB3;
$rosa: #EA2788;
$gris: #F1F1F1;
$loader_width: 230px;
$header_height: 100px;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{vertical-align: top;}
section,header,footer,main{
    width: 100%;
}
.contenedor{
    width: min(88%, 1400px);
    margin-inline: auto;
}
body{
    font-size: 16px;
}
body, html{
    overflow: hidden;
}
.wh-100vh{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.w-100{width: 100%;}
.h-100{height: 100%;}
.wh-100{
    @extend .w-100; @extend .h-100;
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}

%center{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

%transition{
    transition: all .2s ease;
}

.presentation{
    background: linear-gradient(180deg, #33C 0%, #000 100%);
    .vector{
        mix-blend-mode: soft-light;
        width: 37.5%;
        left: -100px;
        bottom: -150px;
    }
    .logo{
        display: block;
        width: min(100%, 450px);
        margin: 0 auto;
        animation-name: logoUp;
    }
    .title{
        @extend %center;
        animation: logoUp 1s ease-in-out 1.9s 1 forwards;
    }
    .contenido{
        @extend %center;
        top: 56.5%;

        width: min(100%, 650px);
        margin: 0 auto;

        div{
            text-align: center;
            color: $blanco;
        }
        h1{
            font-family: 'BiennaleBold';
            margin: 18px auto 26px;
        }
        p{
            font-family: 'BiennaleLight';
            font-size: 1.225rem;
            b{
                margin-top: 26px;
                display: block;
                font-family: 'BiennaleBold';
                font-size: 1.4rem;
            }
        }
        a{
            display: block;
            margin: 7vh auto 0;
            width: 220px;
            font-family: 'BiennaleBold';
            color: $azul;
            background: $blanco;
            text-align: center;
            font-size: 1.4rem;
            padding: 14px 20px;
            border-radius: 30px;
            line-height: 1.2em;
            text-decoration: none;
            position: relative;
            &::before{
                content: '';
                position: absolute;
                border: 1px solid $blanco;
                background: transparent;
                width: 100%;
                height: 100%;
                
                @extend %transition;

                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%) scale(0.8);
                border-radius: 30px;
            }
            &:hover{
                &::before{
                    width: 93%;
                    transform: translate(-50%,-50%) scale(1.1);
                }
            }
        }
    }
}

@keyframes logoUp {
    from{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);   
    }
    to{
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);   
    }
}

%center_vertical{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tracker{
    &_img{
        width: min(100%, $loader_width);
        height: auto;
        aspect-ratio: 1/1;
        border-radius: 50%;
        @extend %center;
        filter: drop-shadow(0px 6px 8px rgba(51, 51, 204, 0.35));
        &::before, &::after{
            content: '';
            position: absolute;
            
            z-index: -1;
            
            width: 100%;
            border-radius: 50%;
            height: 100%;
            
        }
        &::before{
            margin-right: - $loader_width;
            animation: pulse1 4.5s ease-in-out 0s infinite;
            background: $azul;
            opacity: .3;
        }
        &::after{
            margin-left: - $loader_width;
            animation: pulse1 4.5s ease-in-out 2s infinite;
            background: $azul;
            opacity: .3;
        }
        img{
            width: 100%;
            height: 100%;
        }
    }

    header{
        position: fixed;
        top: 0;
        left: 0;
        background: #FFF;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        height: $header_height;
        @extend %center_vertical;
        padding-block: 10px;
        img{
            width: min(100%, 200px);
        }
    }

    main{
        height: 100vh;
        padding-top: $header_height;
        @extend %center_vertical;

        h1{
            color: $azul;
            text-align: center;
            font-family: 'BiennaleBlack';
            font-size: 2.5em;
        }
        .choose{
            width: 100%;
            margin-top: 5vh;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5%;
            min-height: 585px;
        }
        .option{
            display: block;
            width: 100%;
            aspect-ratio: 1/1;
            max-width: 450px;
            position: relative;
            overflow: hidden;
            border-radius: 76.298px;
            @extend %transition;

            h2{
                position: absolute;
                @extend %center;
                font-size: 2.6em;
                color: $blanco;
                font-family: 'BiennaleBold';
                text-align: center;
                line-height: 1.25em;
            }
            
            &::before{
                position: absolute;
                content: '';
                width: 100%;
                height: 100%;
                background: linear-gradient(180deg, rgba(51, 51, 204, 0.50) 0%, #000 100%);
                mix-blend-mode: multiply;
                @extend %transition;
            }
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            &:hover{
                aspect-ratio: 9/11.5;
                &::before{
                    background: linear-gradient(180deg, #F2A933 0%, #000 100%);
                }
            }
        }
    }

}

@keyframes pulse1{
    0%{
        transform: scale(1);
    }
    33%{
        transform: scale(1.6);
    }
    66%{
        transform: scale(2.3);
    }
    100%{
        transform: scale(1);
    }
}

.invinder{
    display: grid;
    grid-template-columns: 500px 1fr 400px;
    aside, main{
        width: 100%;
    }
    #publicidad{
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &.two-cols{
        grid-template-columns: 500px 1fr;
        main{
            background: rgba($color: #ADCCFA, $alpha: 0.1);
            padding-inline: 2rem;
        }
    }
}

.chat{
    width: 100%;
    height: 100vh;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: grid;
    grid-template-rows: 100px 1fr 11.5vh;
    &>div{
        width: 100%;
        height: 100%;
        h2{
            font-family: 'BiennaleBold';
            font-size: 1.7em;
            display: block;
        }
    }
    &_profile{
        
        display: flex;
        align-items: center;
        padding-inline: 5%;
        
        &_user{
            width: 90%;
            padding-bottom: 12px;
            border-bottom: 1px solid #000;
        }
        img{
            width: 100%;
            max-width: 160px;
            margin: 0;
        }
    }
    &_matches{
        width: 100%;
        height: 100%;
        background: $gris;
        padding-left: 5%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 6px;

        img{
            border-radius: 10px;
        }
    }
    &_box{
        display: grid;
        grid-template-rows: 250px 1fr;
        &>div{
            height: 100%;
        }
    }
    &_messages{
        padding: 1rem 10% 1rem 5%;
    }
    &_persons{
        overflow-y: scroll;
        height: 90%;
        max-height: 43vh;
        &::-webkit-scrollbar{
            opacity: 0;
        }

        ul{
            width: 100%;
        }

        li{
            padding: 4px 10px;
            width: 100%;
            border-radius: 14px;
            &:not(:last-child){
                margin-bottom: 4px;
            }
            &:nth-child(even){
                background: $gris;
            }
            a{
                text-decoration: none;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            h3{
                color: $azul;
                font-family: 'BiennaleBold';
                font-size: 1.4em;
                font-weight: bold;
            }
            p{
                color: $negro;
                font-family: 'BiennaleRegular';
                max-width: 265px;
                font-size: 1em;
            }
            img{
                border-radius: 50%;
                width: 100px;
                display: block;
                aspect-ratio: 1/1;
                height: 100px;
            }
            div{
                width: calc(100% - 110px);
            }
        }

    }
    &_actions{
        background: $gris;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        border-radius: 30px 30px 0 0;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 6.5%;
    }
    &_button{
        width: 60px;
        height: 60px;
        display: block;
        padding: 10px;
        position: relative;
        aspect-ratio: 1/1;
        &::before{
            content: '';
            aspect-ratio: 1/1;
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background: $azul;
            opacity: 0;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(0.1);
            @extend %transition;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
            @extend %transition;
        }
        &:hover{
            &::before{
                opacity: 1;
                transform: translate(-50%, -50%) scale(1.1);
            }
            img{
                filter: invert(100%);
            }
        }
    }
}

%scroll{
    &::-webkit-scrollbar{
        width: 8px;
    }
    &::-webkit-scrollbar-thumb{
        border-radius: 30px;
        background: #30CEB3;
    }
    &::-webkit-scrollbar-track{
        border-radius: 30px;
        background: #CACACA;
    }
}

.canvas_cards{
    padding-block: 3vh 7vh;
    @extend %center_vertical;
    .card{
        width: 100%;
        position: relative;
        margin: 0 auto;
        aspect-ratio: 9/16;
        max-height: 86vh;
        width: min(100%, 500px);
        border-radius: 50px;
        overflow: hidden;

        &::before{
            content: '';
            position: absolute;
            inset: 0;
            width: 100%;
            height: calc(100% - 100px);
            background: #EEEEEE;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            border-radius: 50px;
            opacity: 0;
        }

        .after{
            position: absolute;
            inset: 0;
            z-index: 10;
            content: '';
            width: 100%;
            border-radius: 50px;
            background: linear-gradient(75deg, #33C 0%, #000 100%);
            background-blend-mode: multiply;
            mix-blend-mode: multiply;
            opacity: 0;
            pointer-events: none;
            display: grid;
            place-items: center;
        }
        
        #photos{
            position: absolute;
            width: 100%;
            border-radius: 50px;
            height: 100%;
            z-index: 4;
            background: #C4C4C4;
            mix-blend-mode: multiply;
            inset: 0;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            @extend %transition;

            img{
                border-radius: 50px;
                object-fit: cover;
                object-position: center;
                @extend %transition;
            }
            .to_first_view,
            button.splide__arrow{
                opacity: 1;
                width: 35px;
                z-index: 10;
                border-radius: 50%;
                border: none;
                cursor: pointer;
                height: 35px;
                background: $blanco;
                @extend %center_vertical;
                align-items: center;
                margin: 0;

                svg{
                    fill: $azul;
                    width: 20px;
                    height: 20px;
                }

                &[disabled]{
                    display: none;
                }
            }
            
            .to_first_view{
                top: 50%;
                transform: translateY(-50%) rotate(180deg);
                left: 1em;
                z-index: 3;
                display: none;
                &.active{
                    display: flex;
                }
            }
            .splide__pagination{
                width: 100%;
                padding-inline: 6%;
                top: 20px;
                bottom: auto;
                justify-content: space-between;
                li{
                    width: calc(100% / 3.2);
                    button{
                        width: 100%;
                        height: 8px;
                        margin: 0;
                        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                        padding: 0;
                        opacity: 1 !important;
                        background: $blanco;
                        transform: scale(1) !important;
                        border-radius: 40px;
                        &.is-active{
                            background: $rosa;
                        }
                    }
                }
            }
            .to_second_view{
                opacity: 0;
                pointer-events: none;
                right: 1.5em;
                border-radius: 50%;
                bottom: -33px;
                cursor: pointer;
                background: none;
                border: none;
                @extend %transition;
                z-index: 5;
                width: 66px;
                height: 66px;
                img{
                    object-fit: contain;
                    object-position: center;
                }
            }
        }
        &_nav_inside,
        &_nav{
            position: absolute;
            bottom: 10px;
            left: 0;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            @extend %transition;
            opacity: 1;
            pointer-events: all;
            gap: 6%;
            a{
                display: grid;
                place-items: center;
                border-radius: 50%;
                border: 2px solid;
                width: 60px;
                height: 60px;
                img{
                    width: 30px;
                    height: 30px;
                    object-fit: contain;
                    object-position: center;
                }
                &.share,
                &.close{
                    img{
                        width: 24px;
                        height: 24px;
                    }
                }
            }
        }
        &_nav_inside{
            opacity: 0;
            pointer-events: none;
            z-index: 6;
            gap: 4%;
            a{
                background: $blanco;
                width: 66px;
                height: 66px;
                img{
                    width: 34px;
                    height: 34px;
                }
            }
        }
        &_content_inside,
        &_content{
            width: 100%;
            position: absolute;
            bottom: 100px;
            z-index: 6;
            left: 0;
            padding-inline: 5%;
            @extend %transition;
            opacity: 1;
            pointer-events: all;
            padding-bottom: 20px;
            .i{
                position: absolute;
                top: 0;
                right: 1.5em;
                width: 32px;
                height: 32px;
                cursor: pointer;
                animation: upDown 1s ease-in-out 0s infinite;
            }
            h2{
                color: $blanco;
                font-family: 'BiennaleBold';
                margin-bottom: 20px;
                font-size: 1.5em;
            }
            ul{
                list-style: none;
                li{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    gap: 10px;
                    &:not(:last-child){
                        margin-bottom: 10px;
                    }
                    img{
                        width: 36px;
                        height: 36px;
                        object-fit: contain;
                        object-position: center;
                    }
                    p{
                        font-family: 'BiennaleBook';
                        font-size: 1.3em;
                        color: $blanco;
                    }
                }
            }
        }
        .age{
            font-family: 'BiennaleLight';
            font-weight: 100;
            margin-left: 8px;
            display: inline-flex;
            align-items: center;
            flex-direction: row;
            flex-wrap: nowrap;
            gap: 10px;
            img{
                width: 25px;
                height: 25px;
                object-fit: contain;
            }
        }
        &_content_inside{
            opacity: 0;
            pointer-events: none;
            padding-bottom: 30px;
            h2{
                color: $negro;
                font-size: 1.75em;
                span{
                    color: $azul;
                }
            }
            ul{
                li{
                    img{
                        width: 40px;
                        height: 40px;
                    }
                    p{
                        font-size: 1.4em;
                        color: $negro;
                    }
                }
            }
        }
        .tag{
            margin-top: 20px;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            gap: 8px;
            border-radius: 10px;
            width: fit-content;
            padding: 6px 10px 6px 6px;
            img{
                width: 52px;
                height: 52px;
                object-fit: contain;
            }
            p{
                color: $blanco;
                font-family: 'BiennaleLight';
                text-align: left;
                font-size: 1.125em;
                b{
                    font-family: 'BiennaleBold';
                    display: block;
                    color: $blanco;
                }
            }
            &.small{
                margin-top: 12px;
                img{
                    width: 44px;
                    height: 44px;
                }
                p{
                    font-size: 1em;
                }
            }
        }


        &_description{
            opacity: 0;
            pointer-events: none;

            z-index: 3;
            width: 99%;
            bottom: 90px;
            height: calc(70% - 90px);
            overflow-y: scroll;
            padding-block: 20px 0;
            padding-left: 5%;
            padding-right: 3%;

            h3{
                font-family: 'BiennaleBold';
                font-size: 1.5em;
                margin-bottom: 10px;
            }

            @extend %scroll;

            p{
                font-family: 'BiennaleBook';
                font-weight: 100;
                color: $negro;
                font-size: .92em;
                b{
                    font-family: 'BiennaleBold';
                    color: $azul;
                }
            }
            h4{
                font-family: 'BiennaleBlack';
                font-size: 1.15em;
                display: block;
                margin-bottom: 10px;
            }

            ul{
                list-style: none;
                li{
                    display: flex;
                    flex-wrap: nowrap;
                }
                &.me{
                    li{
                        align-items: center;
                        gap: 14px;
                        &:not(:last-child){
                            margin-bottom: 10px;
                        }
                        img{
                            width: 24px;
                            height: 24px;
                            object-fit: contain;
                        }
                        p{
                            color: $negro;
                            font-family: 'BiennaleLight';
                            font-weight: 100;
                            font-size: 1em;
                        }
                    }
                }
                &.languages{
                    li{
                        align-items: flex-start;
                        gap: 12px;
                        &:not(:last-child){
                            margin-bottom: 20px;
                        }
                        b{
                            color: $negro;
                        }
                        img{
                            width: 39px;
                            height: 39px;
                            object-fit: contain;
                            object-position: center;
                        }
                    }
                }
            }
            .hr{
                width: 100%;
                height: 1px;
                background: $negro;
                margin-block: 10px;
            }
        }


        &:not(.informed){
            .card{
                &_nav{
                    opacity: 0;
                    pointer-events: none;
                }
                &_content{
                    opacity: 0;
                    pointer-events: none;
                }
                &_nav_inside{
                    opacity: 1;
                    pointer-events: all;
                }
            }
            .after{
                height: 100%;
            }
        }
        &.informed{
            .after,
            #photos{
                height: calc(100% - 100px);
            }
            .to_first_view{
                display: none !important;
            }
        }
        &.extended{
            #photos{
                height: 50%;
            }
            &::before{
                opacity: 1;
            }
            .card{
                &_content_inside,
                &_nav{
                    opacity: 1;
                    pointer-events: all;
                }
                &_nav_inside{
                    opacity: 0;
                    pointer-events: none;
                }
            }
            #photos{
                img{
                    object-position: top;
                }
                .to_second_view{
                    opacity: 1;
                    pointer-events: all;
                }
            }
        }
        &.more{
            #photos{
                height: 30%;
                &::before{
                    content: '';
                    position: absolute;
                    inset: 0;
                    width: 100%;
                    height: 100%;
                    background: transparent;
                    z-index: 5;
                }
                .to_first_view,
                .splide__arrows{
                    display: none;
                }
                img{
                    object-position: center;
                }
                .to_second_view{
                    transform: rotate(180deg);
                    width: 56px;
                    height: 56px;
                    right: 2em;
                    bottom: -23px;
                }
            }
            &::before{
                height: calc(100% - 50px);
            }
            .card{
                &_nav,
                &_content_inside{
                    opacity: 0;
                    pointer-events: none;
                }
                &_nav_inside,
                &_description{
                    opacity: 1;
                    pointer-events: all;
                }
            }
        }
        &.liked{
            .after{
                opacity: 1;
                pointer-events: all;
            }
        }
    }
}

@keyframes upDown{
    0%{
        transform: translate(0);
    }
    33%{
        transform: translateY(-6px);
    }
    66%{
        transform: translate(0);
    }
    100%{
        transform: translate(0);
    }
}

.contact{
    display: flex;
    align-items: center;
    justify-content: center;
    &_box{
        height: 96%;
        width: 100%;
        max-width: 789px;
        margin-inline: auto;
        border-radius: 63px;
        background: linear-gradient(180deg, #33C 0%, #000 100%);
        padding: 2.5rem 5%;

        display: flex;
        flex-direction: column;
        gap: 5vh;
        justify-content: center;
        align-items: center;

        &>div{
            width: 100%;
        }

        &_head{
            h2{
                font-family: 'BiennaleBlack';
                color: $celeste;
                text-align: center;
                font-size: 2.5em;
                margin-bottom: 10px;
            }
            p{
                text-align: center;
                color: $blanco;
                font-size: 1.1em;
                font-family: 'BiennaleRegular';
                font-weight: 100;
                b{
                    font-family: 'BiennaleBold';
                }
                &:not(:last-child){
                    margin-bottom: 20px;
                }
            }
        }
        &_body{
            form{
                width: 100%;
                div{
                    position: relative;
                    padding-top: 33px;
                    &:not(:last-child){
                        margin-bottom: 14px;
                    }
                    label, p{
                        position: absolute;
                        top: 47px;
                        font-size: 1.2em;
                        transition: all .5s ease;
                        pointer-events: none;
                    }
                    label{
                        left: 18px;
                        font-family: 'BiennaleBold';
                        color: $azul;
                        z-index: 3;
                    }
                    p{
                        font-family: 'BiennaleLight';
                        left: 50%;
                        opacity: 0;
                    }
                    textarea, input{
                        outline: none;
                        min-height: 54px;
                        display: block;
                        padding-inline: 18px;
                        font-family: 'BiennaleRegular';
                        width: 100%;
                        border: none;
                        background: $blanco;
                        border-radius: 32px;
                        font-size: 1.2em;
                        position: relative;
                        @extend %transition;
                    }
                    textarea{
                        resize: none;
                    }
                    &.active{
                        label{
                            top: 0;
                            left: 0;
                            color: $celeste;
                            transform: none;
                        }
                        textarea{
                            min-height: 100px;
                            padding-block: 16px;
                        }
                        p{
                            right: auto;
                            left: 24px;
                            opacity: 1;
                        }
                    }
                    &.writed{
                        p{display: none;}
                    }
                }
            }
            button,
            [type="submit"]{
                display: block;
                text-align: center;
                background: $celeste;
                border: 1px solid $celeste;
                border-radius: 50px;
                color: $blanco;
                padding: 12px 36px;
                font-family: 'BiennaleBold';
                font-size: 1.25em;
                @extend %transition;
                cursor: pointer;
                margin: 20px auto 0;
                &:hover{
                    background: transparent;
                    color: $celeste;
                }
            }
        }

    }
}

.portafolio{
    display: flex;
    align-items: center;
    justify-content: center;
    &_box{
        height: 91vh;
        width: 100%;
        max-width: 1120px;
        margin: 0 auto;
    }
    &_tabs{
        padding-bottom: 10px;
        width: 90%;
        margin: 0 auto;
        border-bottom: 1px solid $negro;
        height: 71px;
        ul{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5%;
            list-style: none;

            button{
                border: none;
                cursor: pointer;
                background: $gris;
                color: $negro;
                font-family: 'BiennaleBold';
                font-size: 1.7em;
                width: 200px;
                height: 60px;
                border-radius: 40px;
                &.active{
                    color: $blanco;
                    background: $azul;
                }
            }
        }
    }
    &_content{
        padding-top: 20px;
        width: 100%;
        height: calc(100% - 71px);
        div{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 20px 4%;
            overflow-y: scroll;
            height: 100%;
            &::-webkit-scrollbar{
                display: none;
            }
            img{
                width: 100%;
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                border-radius: 50px;
            }
        }
    }
}

.explora{
    display: flex;
    align-items: center;
    justify-content: center;
    &_box{
        width: 100%;
        height: 100%;
        max-width: 1020px;
        margin-inline: auto;
        max-height: 80vh;
        overflow-y: scroll;
        padding-right: 20px;

        @extend %scroll;
    }
}

.banner{
    width: 100%;
    min-height: 350px;
    height: 40vh;
    background: $blanco;
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    &>div{
        width: 100%;
        height: 100%;
    }
    &_front{
        position: absolute;
        opacity: 1;
        z-index: 3;
        background: url(../img/banner.png) no-repeat;
        background-size: cover;
        background-position: center;
        
        transition: all .4s ease-in;
        transition-delay: .4s;

        h1{
            position: absolute;

            top: 50%;
            transform: translateY(-50%);
            left: 50px;

            transition: all .4s ease-in;

            font-family: 'BiennaleHeavyit';
            color: $blanco;
            opacity: 1;
            font-size: 3.5em;
            line-height: 1.2em;
            text-shadow: 0px 8.483091354370117px 8.483091354370117px rgba(0, 0, 0, 0.25);
        }
    }
    &_back{
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5vh;
    }
    .splide{
        &__slide{
            display: flex;
            align-items: center;
        }
        img{
            width: 100%;
            max-height: 80px;
            object-fit: contain;
            object-position: center;
        }
    }
    &:hover{
        .banner{
            &_front{
                opacity: 0;
                h1{
                    opacity: 0;
                    left: -200px;
                }
            }
        }
    }
}

.recomendaciones{
    width: 100%;
    &>div{
        width: 100%;
    }
    &_txt{
        padding-block: 10px 20px;
        h2{
            font-family: 'BiennaleBold';
        }
        p{
            font-size: 1.2em;
            font-family: 'BiennaleRegular';
        }
    }
    &_grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px 4%;
    }
}

.comment{
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 30px;
    &>div{
        width: 100%;
    }
    &_front{
        position: absolute;
        inset: 0;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
        opacity: 0;
        pointer-events: none;
        @extend %transition;
        padding: 1.25rem;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;

        p{
            font-family: 'BiennaleRegular';
            color: $blanco;
            text-align: center;
        }
    }
    &_user{
        div{
            display: block;
            width: 60px;
            margin: 0 auto;
            height: 60px;
            aspect-ratio: 1/1;
            border-radius: 50%;
            background: $blanco;
            margin-bottom: 7px;
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
                object-position: center;
            }
        }
        p{
            font-family: 'BiennaleBold';
        }
    }
    &_back{
        img{
            width: 100%;
        }
    }
    &:hover{
        .comment{
            &_front{
                opacity: 1;
                pointer-events: all;
            }
            &_back{

            }
        }
    }
}

.profile_container{
    display: flex;
    align-items: center;
    position: relative;
    &_nav{
        background: white;
        position: absolute;
        bottom: 0;
        padding-block: 10px 20px;
        display: flex;
        justify-content: center;
        width: 100%;
        align-items: center;
        gap: 30px;
        a{
            width: 70px;
            height: 70px;
            border-radius: 50%;
            padding: 10px;
            border: 2px solid;
            display: grid;
            place-items: center;
            img{
                width: 37px;
                height: 37px;
                object-fit: contain;
                object-position: center;
            }
            &.close{
                img{
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }
}

.profile_box{
    width: 100%;
    height: 100%;
    max-width: 1100px;
    margin-inline: auto;
    max-height: 74vh;
    overflow-y: scroll;
    padding-right: 20px;

    @extend %scroll;

    &>div{
        width: 100%;
        display: grid;
    }

    h1, h2{
        font-family: 'BiennaleBold';
        font-weight: bold;
    }
    h1{
        font-size: 2.25em;
    }
    h2{
        font-size: 2em;
    }

    .age{
        margin-left: 20px;
        display: inline-flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 12px;
        font-family: 'BiennaleLight';
        color: $azul;
        img{
            width: 30px;
            height: 30px;
            object-fit: contain;
            object-position: center;
        }
    }

    &_header{
        grid-template-columns: 0.8fr 1.2fr;
        grid-gap: 5%;
        align-items: center;
        padding-bottom: 40px;
        margin-bottom: 40px;
        border-bottom: 2px solid $azul;
        .col{
            &:nth-child(1){
                img{
                    width: 100%;
                }
            }
            &:nth-child(2){
                ul{
                    margin-block: 10px 20px;
                    li{
                        list-style: none;
                        display: flex;
                        align-items: center;
                        img{
                            width: 34px;
                            height: 34px;
                            object-fit: contain;
                            object-position: center;
                        }
                        &:not(:last-child){
                            margin-bottom: 14px;
                        }
                        p{
                            font-family: 'BiennaleLight';
                            font-size: 1.4em;
                        }
                    }
                }
                .w-100{
                    display: flex;
                    flex-wrap: wrap;
                    gap: 10px;
                }
            }
        }
        .tag{
            width: fit-content;
            padding: 6px 10px 6px 6px;
            border-radius: 10px;
            display: inline-flex;
            flex-direction: row;
            align-items: center;
            flex-wrap: nowrap;
            gap: 8px;
            img{
                width: 53px;
                height: 53px;
                object-fit: contain;
                object-position: center;
            }
            p{
                color: $blanco;
                font-size: 1.2em;
                line-height: 1.2em;
                font-family: 'BiennaleLight';
                strong, b{
                    display: block;
                    font-family: 'BiennaleBold';
                }
            }
        }
    }
    &_body{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 5%;
        .col{
            width: 100%;
            &:nth-child(1){
                h2{color: $celeste}
            }
            &:nth-child(2){
                h2{color: $rosa}
            }
            &_title{
                width: 100%;
                margin-bottom: 10px;
            }
            p, li{
                font-family: 'BiennaleLight';
                font-size: 1.1em;
            }
            p{
                &:not(:last-child){
                    margin-bottom: 12px;
                }
            }
            ol, ul{
                list-style: disc;
                margin-left: 21px;
                li{
                    list-style: disc;
                }
            }
            strong, b{
                color: $azul;
                font-family: 'BiennaleBold';
            }
            .tags{
                display: flex;
                gap: 6px 10px;
                margin-bottom: 26px;
                flex-wrap: wrap;
                align-items: center;
                span{
                    width: 160px;
                    padding-inline: 8px;
                    display: block;
                    color: $blanco;
                    text-align: center;
                    font-family: 'BiennaleBold';
                    background: linear-gradient(90deg, #33C 0%, #1B1B6C 47.85%, #000 100%);
                    line-height: 1.2em;
                    min-height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 30px;
                }
            }
            .lngs{
                ul, li{
                    list-style: none;
                    margin: 0;
                }
                li{
                    display: flex;
                    align-items: flex-start;
                    justify-content: flex-start;
                    gap: 16px;
                    img{
                        max-width: 46px;
                    }
                    &:not(:last-child){
                        margin-bottom: 28px;
                    }
                    b{
                        color: $negro;
                    }
                }
            }
        }
    }
}